body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}
.register-container{
    display: grid;
    height: max-content;
    width: 90%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;

}
.form-group{
    margin: bottom 20px;
}